@page "/counter"

<PageTitle>Counter</PageTitle>

<h1>Counter</h1>

<p role="status">Current count: @currentCount is different then @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click the me</button>

@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        // coment
	// This is different then that, so mycoment is neded herewith typo. shamsutdinova.
        string myStrinLiteral = "This is different then that so coment is neded here shamsutdinova.";
        currentCount++;
    }
}
